<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let equipo of listaEquipos">
      <div class="team-info-card card">
        <div class="team-info-header d-flex align-items-center">
          <!-- implementar cuando tenga imagenes [src]="equipo.logo"-->
          <img alt="Equipo" class="team-logo logo" />
          <div class="team-details ms-3 details">
            <span class="team-name name">{{ equipo.nombre }}</span>
            <span class="team-country country">País: {{ equipo.pais }}</span>
            <span class="team-founded founded">Fundado: {{ equipo.fechaFundacion }}</span>
            <span class="team-owner owner">Presidente: {{ equipo.presidente }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class = "tablecontainer">
  <div class="contenedor">
    <h2 class="title">Buscar Equipo</h2>

    <div class="search-section">

      <div class="search-input-container">
        <input
        type="text"
        id="search-bar"
        class="input"
        placeholder="Buscar equipo..."
        autocomplete="off"
        (input)="filterEquipos($event)"
        [disabled]="isInputDisabled"
        [(ngModel)]="searchQuerty"
        aria-label="Buscar equipo"
        />

        <!-- Botón para resetear el filtro -->
        <button (click)="resetFilter()" class="button">
          Limpiar filtro
        </button>
      </div>



      <ul *ngIf="filteredEquipos.length > 0 && searchQuerty && !selectedEquipo" class="autocomplete-list" aria-live="polite">
        <li *ngFor="let equipo of filteredEquipos" (click)="selectEquipo(equipo)">
          {{ equipo.nombre }}
        </li>
      </ul>

    </div>


    <!-- Tabla de usuarios (siempre visible) -->
    <div *ngIf="!selectedEquipo || filteredEquipos.length > 0">
      <table class="user-table" >
        <thead>
          <tr>
            <th>Nombre</th>
            <th>País</th>
            <th>Fundado</th>
            <th>Presidente</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipo of filteredEquipos" (click)="selectEquipoFromTable(equipo)">
            <td>{{ equipo.nombre }}</td>
            <td>{{ equipo.pais }}</td>
            <td>{{ equipo.fechaFundacion }}</td>
            <td>{{ equipo.presidente }}</td>
            </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


