<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let equipo of listaEquipos">
      <div class="team-info-card card">
        <div class="team-info-header d-flex align-items-center">
          <!-- implementar cuando tenga imagenes [src]="equipo.logo"-->
          <img alt="Equipo" class="team-logo logo" />
          <div class="team-details ms-3 details">
            <span class="team-name name">{{ equipo.nombre }}</span>
            <span class="team-country country">País: {{ equipo.pais }}</span>
            <span class="team-founded founded">Fundado: {{ equipo.fechaFundacion }}</span>
            <span class="team-owner owner">Presidente: {{ equipo.presidente }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class = "tablecontainer">
  <div class="contenedor">
    <div class="title">Equipos</div>
    <div class="search-input-container">
      <input
        type="text"
        class="input"
        placeholder="Buscar equipo..."
        (input)="filterEquipos($event)"
        [disabled]="isInputDisabled"
        [(ngModel)]="searchQuerty"
      />
      <button class="button" (click)="resetFilter()">Resetear</button>
    </div>
    <ul class="autocomplete-list" *ngIf="searchQuerty.length > 0 && filteredEquipos.length > 0">
      <li *ngFor="let equipo of filteredEquipos" (click)="selectEquipo(equipo)">
        {{ equipo.nombre }}
      </li>
    </ul>
    <div *ngIf="filteredEquipos.length === 0" class="no-results">
      No se encontraron resultados
    </div>
    <table class="user-table" *ngIf="filteredEquipos.length > 0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>País</th>
          <th>Fundado</th>
          <th>Presidente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of filteredEquipos" (click)="selectEquipoFromTable(equipo)">
          <td>{{ equipo.nombre }}</td>
          <td>{{ equipo.pais }}</td>
          <td>{{ equipo.fechaFundacion }}</td>
          <td>{{ equipo.presidente }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


