.banner {
  background-color: #f8f9fa; /* Fondo claro */
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detalles {
  border-bottom: 1px solid #dee2e6; /* Línea divisoria */
  padding-bottom: 0.5rem;
}

.equipo {
  display: flex;
  align-items: center;

}

.apuesta span{
  margin-top: 0.5rem;
  color: var(--secundario);
  font-weight: normal;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  border-radius: 0.5rem;
  width: 170px;
}

.logo2 {
  border-radius: 0.5rem;
  width: 130px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.name {
  font-size: 16px;
}

.score {
  font-size: 1.5rem;
  color: #343a40;
}

.versus {
  font-size: 1.5rem;
  font-weight: bold;
  color: #495057;
}

.matchinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchdate {
  font-weight: bold;
  color: #020202;
}

.matchresult {
  margin-top: 0.5rem;
  color: #6c757d;
  font-size: 0.875rem;
}

.winner, .loser {
  display: block;
}

.winner {
  color: #28a745;
  font-weight: bold;
}

.loser {
  color: #dc3545;
  font-weight: bold;
}

.titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: -20px;
}


.apuestacont{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

//.proximo-partido {
//  background-color: #c6ddea; /* Color amarillo claro para partidos próximos */
//}

.terminado-partido {
  background-color: #e7f3c5; /* Color verde claro para partidos terminados */
}

.containerTabla {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  max-width: 1200px;
  width: 100%;
  padding : 20px;
  box-sizing: border-box;

  background-color: #222121;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  min-height: 50vh;

}

/* Título */
.title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(197, 196, 196);
  margin-bottom: 20px;
}

/* Estilo del input */
.input {
  background-color: #fdf4f4;
  border: 1px solid #444;
  color: #040404;
  padding: 10px;
  font-size: 1rem;
  width: 85%;
  margin-top: 10px;
  border-radius: 5px;
}

/* Estilo del botón */
.button {
  background-color: #ff0000;
  border: none;
  font-weight: bold;
  color: #ffffff;
  align-items: center;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: #ff3333;
}

/* Estilo de la lista de sugerencias */
.autocomplete-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  border-radius: 5px;
}

.autocomplete-list li {
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
}

.autocomplete-list li:hover {
  background-color: #f5f5f5;  /* Fondo claro cuando pasas el ratón */
  color: #020202;  /* Color de texto más oscuro al pasar el ratón */
}

/* Estilo de la tabla */
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th, .user-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #ffffff;
}

.user-table th {
  background-color: #444;
  color: #fff;
}

.user-table tr:hover {
  background-color: #f9f9f9;
}

.user-table tr {
  pointer-events: none;  /* Deshabilitar la interacción con la tabla */
}

/* Mensaje de no resultados */
.no-results {
  color: #ff0000;
  text-align: center;
  margin-top: 20px;
}

.search-input-container {
  display: flex;
  justify-content: space-between; /* Asegura que el input y el botón estén separados */
}

input[disabled] {
  background-color: #e0e0e0;  /* Color de fondo cuando el input está deshabilitado */
  color: #aaa;  /* Color del texto cuando el input está deshabilitado */
  cursor: not-allowed;  /* Cursor que indica que no se puede interactuar con el input */
}
