<div class="main-container">
  <div class="contenedor">
    <div class="carta">
      <h2 class="title">Buscar Usuario</h2>

      <!-- Barra de búsqueda -->
      <div class="search-section">

        <div class="search-input-container">
          <input
            type="text"
            id="search-bar"
            class="input"
            placeholder="Escribe el nombre del usuario..."
            [(ngModel)]="searchQuery"
            (input)="filterUsers($event)"
            autocomplete="off"
            [disabled]="isInputDisabled"
            aria-label="Buscar usuario"
          />

          <!-- Botón para resetear el filtro -->
          <button (click)="resetFilter()" class="button">
            Limpiar filtro
          </button>
        </div>

        <ul *ngIf="filteredUsers.length > 0 && searchQuery && !selectedUser" class="autocomplete-list" aria-live="polite">
          <li *ngFor="let user of filteredUsers" (click)="selectUser(user)">
            {{ user.nombre }} ({{ user.dni }}) <!-- Mostrar nombre y ID del usuario -->
          </li>
        </ul>

      </div>

      <!-- Tabla de usuarios (siempre visible) -->
      <div *ngIf="!selectedUser || filteredUsers.length > 0">
        <table class="user-table" >
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Dni</th>
              <th>Correo</th>
              <th>Fecha de Nacimiento</th>
              <th>Fondos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of filteredUsers" (click)="selectUserFromTable(user)">
              <td>{{ user.id }}</td>
              <td>{{ user.nombre }}</td>
              <td>{{ user.dni }}</td>
              <td>{{ user.email }}</td>
              <td>{{ formatDate(user.fechaNacimiento) }}</td>
              <td>{{ user.fondos }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
