<div class="main-container">
  <div class="contenedor">
    <div class="carta">
      <h2 class="title">Buscar Apuesta</h2>

      <!-- Barra de búsqueda -->
      <div class="search-section">

        <div class="search-input-container">
          <input
            type="text"
            id="search-bar"
            class="input"
            placeholder="Busca tu Apuesta"
            [(ngModel)]="searchQuery"
            (input)="filterApuesta($event)"
            autocomplete="off"
            [disabled]="isInputDisabled"
            aria-label="Buscar Apuesta"
          />

          <!-- Botón para resetear el filtro -->
          <button (click)="resetFilter()" class="button">
            Limpiar filtro
          </button>
        </div>

        <ul *ngIf="filteredApuesta.length > 0 && searchQuery && !selectedApuesta" class="autocomplete-list" aria-live="polite">
          <li *ngFor="let apuesta of filteredApuesta" (click)="selectApuesta(apuesta)">
          ({{ apuesta.fecha }})
          </li>
        </ul>

      </div>

      <!-- Tabla de usuarios (siempre visible) -->
      <div *ngIf="!selectedApuesta || filteredApuesta.length > 0">
        <table class="user-table" >
          <thead>
            <tr>
              <th>ID Apuesta</th>
              <th>Fecha</th>
              <th>ID Equipo</th>
              <th>Monto Apuesta</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let apuesta of filteredApuesta" (click)="selectApuestaFromTable(apuesta)">
              <td>{{ apuesta.id }}</td>
              <td>{{ apuesta.fecha }}</td>
              <td>{{ apuesta.idEquipoApuesta }}</td>
              <td>{{ apuesta.montoApuesta }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
